body{
    padding:50px;
}
.container{
    max-width: 500px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(14, 14, 16, 0.2) 0px 7px 29px 0px;
    color:rgb(220, 116, 26);
   
}
.form-group{
    margin-bottom:30px;
}